/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root
{
    --theme-main: #c72121;
    --theme-back: #eeeeee;
    --theme-text: #424242;
    --theme-accent: white;

    --theme-font: "Roboto", "Open Sans", "Verdana", "Helvetica", Arial, serif;
}

html, body
{
    padding: 0;
    margin: 0;

    font-family: var(--theme-font);
    font-size: 14px;

    background-color: var(--theme-back);
}


.material-button
{
    position: relative;
    
    padding: 0.7em 1.2em;

    border-radius: 4px;
    font-weight: bold;
}

.material-button-fab
{
    position: absolute;
    
    width: 2em;
    height: 2em;

    display: inline-block;
    text-align: center;
    line-height: 2em;

    font-size: 2em;
    font-weight: normal;

    border-radius: 100%;
}

.material-button, .material-button-fab
{
    background-color: var(--theme-main);
    color: var(--theme-accent);
}

.material-button.light, .material-button-fab.light
{
    background-color: var(--theme-accent);
    color: var(--theme-main);
}

*[class*="material-button"], *[class*="material-button"]::before
{
    text-decoration: none;
    
    box-sizing: border-box;
    outline: none;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);

    transition: opacity 0.2s;
}

*[class*="material-button"]::before
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: "";
    background-color: var(--theme-accent);
    opacity: 0;
}

*[class*="material-button"].light::before
{
    background-color: var(--theme-main);
}


*[class*="material-button"]:hover::before
{
    opacity: 0.04;
}

*[class*="material-button"].light:hover::before
{
    opacity: 0.15;
}