html, body
{
    width: 100vw;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    font-family: var(--theme-font);
    font-size: 14px;

    background-color: var(--theme-back);
    color: var(--theme-text);
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 4em;
    padding: 0 2em;

    font-size: 14px;

    background-color: var(--theme-main);
    color: var(--theme-accent);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
}

header h1
{
    margin: 0;
    padding: 0;

    font-size: 14px;
}

main
{
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    margin: 2em auto;
}