/phpunit.xml
/symfony/var/*
/symfony/var/cache/*
/symfony/var/cache
symfony/var/cache/*
symfony/var/cache
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/symfony/vendor/
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
symfony/var/cache/dev
#WILL YOU FUCKING UNDERSTAND TO IGNORE THIS DAMN CACHE FUCKING GIT TARD
symfony/var/cache/dev/classes.php
symfony/var/logs/dev.log
