{% extends '@BackOffice/base.html.twig' %}

{# Head part #}
	{% block title %}
		BackOfficeBundle:Service:Add
	{% endblock %}

	{% block styles %}
		
	{% endblock %}

	{% block scripts %}
		
	{% endblock %}

	{% block head %}
		
	{% endblock %}
{# End Head part #}
{# Body part #}
	{% block header %}
		<h1>Welcome to the Service:Add page</h1>
	{% endblock %}

	{% block body %}
		
	{% endblock %}

	{% block footer %}
		
	{% endblock %}
{# End Body part #}
