{% extends '@FrontOffice/base.html.twig' %}

{# Head part #}
	{% block title %}
		Modification du profil
	{% endblock %}

	{% block styles %}
		
	{% endblock %}

	{% block scripts %}
		
	{% endblock %}

	{% block head %}
		
	{% endblock %}
{# End Head part #}
{# Body part #}
	{% block header %}
		<h1>FrontOffice Accueil</h1>
	{% endblock %}

	{% block body %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	{% endblock %}

	{% block footer %}
		
	{% endblock %}
{# End Body part #}
